<div class="body__container">
    <div class="main-container">
        <div class="title_back">
            <div class="title">한도 문의</div>
        </div>
        <table class="blueone">
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>등록일</th>

            </tr>
            <%
            var l = rows.length;
            for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
            if(i > length){
                i++;
            }else{
                var data = rows[i];
            %>
            <tr>
                <td class="postno"><%= l-i %></td>
                <td class="posttitle"> &nbsp; <a href=""><%=data.TITLE%></a></td>
                <td class="writedate"><%=data.WRITE_DATE%></td>
            </tr>
            <% }
            }
            %>
            <tr>
                <td class="page" colspan="6">
                    <%
                    for(var j = 0; j < rows.length / page_num; j++){
                    %>
                    [<a href="/dambo<%= j + 1 %>"><%= j + 1 %></a>]
                    <%
                    }
                    %>
                </td>
            </tr>
           

        </table>
    </div>
</div>